- model_class = User
- content_for :js do
  = javascript_include_tag "select2"
  = javascript_include_tag "users"
.page-header
  %h1=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human
= render :partial => "form"
